html{
    display: grid;
    align-items: center;
    justify-content: center;
}

body{
    background-color: rgb(144, 238, 144);
}

h1{
    font-size: 35px;
    margin: 10vh;
    text-align: center;
}

p, 
li{
    font-size: 19px;
}

img{
    display: block;
    margin: auto auto;
}

